@import "tailwindcss";
/*@custom-variant dark (&:where(.dark, .dark *));*/
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@theme{
    --font-share: "Share Tech Mono", monospace;
    --font-raleway: "Raleway", sans-serif;
}

@font-face {
    font-family: 'neue';
    src: url('./assets/PPNeueMontrealMono-Thin.otf');
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
    html {
        @apply transition-colors duration-300;
    }
    body {
        @apply bg-white dark:bg-gray-900 text-black dark:text-white
    }
}